<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editiong <%=workout.type %></title>
    <script src="/script/scripts.js" defer></script>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
<!-- converting date  -->
<% 
const date = new Date(workout.Date);
const formattedDate = date.toISOString().split('T')[0]; 
%>
  <body>
    
   
    <form action="/users/<%= user._id %>/workouts/<%=workout._id%>?_method=PUT" method="post">
      <label for="type">Type</label>
      <select name="type" id="type"  >
        <option value="">Select</option>
        <option value="Running" <%= workout.type === 'Running' ? 'selected' : '' %>>Running</option>
        <option value="Walking" <%= workout.type === 'Walking' ? 'selected' : '' %>>Walking</option>
        <option value="Cycling" <%= workout.type === 'Cycling' ? 'selected' : '' %>>Cycling</option>
        <option value="Swimming" <%= workout.type === 'Swimming' ? 'selected' : '' %>>Swimming</option>
      </select>
      <label for="time">time</label>
      <input type="number" name="Time" id="time" value="<%=workout.Time%>" />

      <label for="distance" class="distacelabel">Distance</label>
      <input min="1"
        placeholder="KM"
        type="number"
        name="distance"
        id="distance"
        value="<%=workout.Distance%>"
        required
      />
      <label for="calories" >calories</label>
      <input type="number" name="Calories"  id="calories" disabled  />
      <label for="date">Date</label>
      
      <input type="date" name="Date" id="date" value="<%=formattedDate%>" />

      <button type="submit">update</button>

    </form>
  </body>
</html>
