<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %> 
    <h1>Date :<%=workout.Date.toISOString().split('T')[0] %></h1>
    <h1>type :<%=workout.type %></h1>
    <h1>time :<%=workout.Time %></h1>
    <h1>distance :<%=workout.Distance %></h1>
    <h1>calories :<%=workout.Calories %></h1>
    <a href="/users/<%= user._id %>/workouts/<%= workout._id %>/edit">
      Edit this application
    </a>
    <form
      action="/users/<%= user._id %>/workouts/<%= workout._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete this workout</button>
    </form>
  </body>
</html>
