<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calculator</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>BMI</h1>
    <h1>Weight: <%= weight %> KG  Height: <%= (height / 100).toFixed(2) %> M</h1>
    <h1>
      BMI  <%= (weight / ((height / 100) * (height / 100))).toFixed(2) %>
    </h1>
    <a href="/users/<%= user._id %>/bmi/edit">Update height</a>
</body>
</html>
